{
    auto_https off
    log {
        output stdout
        format console
    }
}

:8080 {
    # Route for login requests
    route /auth/login* {
        reverse_proxy auth:8080
    }

    # Route for users requests
    route /users* {
        forward_auth auth:8080 {
		    uri /auth/validate-token
		    copy_headers User-Id
	    }
        reverse_proxy user:8080
    }

    # Route for messages
    route /messages* {
        forward_auth auth:8080 {
		    uri /auth/validate-token
		    copy_headers User-Id
	    }
        reverse_proxy message:8080
    }
}
